<%- include("./templates/head.html", { description: "Desigin Tool Coming Soon", title: "Tool Coming Soon" }) %>
  </head>
  <body class="ff-sans bg-white black">
    <%- include("./templates/header.html") %>
    <main class="mh-auto">
      <h3 class="f-6 ttu tracked fw-bold tc">Coming Soon</h3>
    </main>
    <footer class="mt-4 pt-3 pb-5 bg-black white">
      <p class="p mh-auto">
        Ghola is Copyright &copy; 2024 by David Bryant Copeland.  It was created <a class="green-600" href="https://declare-ai.org/1.0.0/none.html
">without any assistance from any generative AI</a>.
      </p>
    </footer>
  </body>
</html>

