<%- include("../templates/head.html", { description: "Demo of the color swatch component", title: "Ghola - Color Swatch Component" }) %>
</head>
  <body class="ff-sans bg-white black-ish">
    <%- include("../templates/header.html", { subtitle: "Demos of color swatch", components: true }) %>
    <main class="pa-3">
      <a class="blue-dark" href="color-swatch.test.html">Run tests</a>
      <p class="p">
        The <code>g-color-swatch</code> renders a color.  It can be editable and allows the user to choose the color, or it can simply show a color directly or one derived from another color.
      </p>

      <h4>An editable swatch's value can be reflected in another's</h4>
      <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="ExMXExL" data-user="davetron5000" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/davetron5000/pen/ExMXExL">
            Editable Swatch and Mirroring</a> by Dave Copeland (<a href="https://codepen.io/davetron5000">@davetron5000</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
      </p>
      <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

      <h4>A swatch can be derived from another via algorithm</h4>
      <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="GReExJK" data-user="davetron5000" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/davetron5000/pen/GReExJK">
            Derived Swatches</a> by Dave Copeland (<a href="https://codepen.io/davetron5000">@davetron5000</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
      </p>
      <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

      <h4>Combining Derivations and Styling</h4>

      <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="MWxoMev" data-user="davetron5000" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/davetron5000/pen/MWxoMev">
            Multiple Derived Swatches w/ Styling</a> by Dave Copeland (<a href="https://codepen.io/davetron5000">@davetron5000</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
      </p>
      <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

    </main>
  </body>
</html>

