<%- include("../templates/head.html", { description: "Tests for the color swatch component", title: "Ghola - Color Swatch Component Tests", tests: true }) %>
</head>
  <body class="ff-sans bg-white black-ish">
    <%- include("../templates/header.html", { subtitle: "Test of color swatch", components: true }) %>
    <main class="pa-3">
      <a class="blue-dark" href="color-swatch.html">View demo</a>
      <h3>Test Cases for <code>g-color-swatch</code></h3>
      <g-test-case id="base-case">
        <details>
          <summary>
        <h4>Base Case</h4>
        <p>
          The <code>input</code>'s <code>value</code> should reflect the <code>hex-code</code> attribute. The <code>label</code> should get the hex code set as well.  Changing the <code>input</code>'s value should update the <code>hex-code</code> attribute.
        </p>
        </summary>
        <div class="flex flex-column gap-3">
          <g-test-case-subject id="base-case-subject">
            <g-color-swatch hex-code="#990033">
              <label class="flex flex-column gap-2">
                <input type="color" class="h-5 w-5">
              </label>
              <div data-link-context></div>
            </g-color-swatch>
          </g-test-case-subject>
          <g-element-source element-id="base-case-subject" html="inner">
            <pre><code></code></pre>
          </g-element-source>
        </div>
        </details>
      </g-test-case>
      <g-test-case id="non-input-case">
        <details>
          <summary>
            <h4>Base Case on a non-<code>input</code></h4>
        <p>
          If there is no <code>input</code> nor <code>label</code>, the contained markup can set <code>data-color</code> and <code>data-hexcode</code>.  In that case, the <code>data-color</code> will be given the background color of the hex code and the <code>data-hexcode</code> will be treated as if it were a <code>label</code>.
        </p>
        </summary>
        <div class="flex flex-column gap-3">
          <g-test-case-subject id="non-input-case-subject">
            <g-color-swatch hex-code="#990033">
              <div data-hexcode class="flex flex-column gap-2">
                <div data-color class="h-5 w-5"></div>
              </div>
            </g-color-swatch>
          </g-test-case-subject>
          <g-element-source element-id="non-input-case-subject" html="inner">
            <pre><code></code></pre>
          </g-element-source>
        </div>
        </details>
      </g-test-case>
      <g-test-case id="multiple">
        <details>
          <summary>
        <h4>Multiple Labels and Inputs</h4>
        <p class="p">
          Base case behavior applies to all relevant inputs and labels.
        </p>
        </summary>
        <div class="flex flex-column gap-3">
          <g-test-case-subject>
            <g-color-swatch hex-code="#990033" class="flex flex-column gap-2">
              <label>
                <input type="color" class="h-5 w-5">
              </label>
              <input type="color" id="not-inside-label">
              <label for="not-inside-label">
                <code></code>
              </label>
              <input type="text" id="text-input">
              <label for="text-input"></label>
            </g-color-swatch>
          </g-test-case-subject>
          <g-element-source element-sibling="g-test-case-subject" html="inner">
            <pre><code></code></pre>
          </g-element-source>
        </div>
        </details>
      </g-test-case>
      <g-test-case id="derived-brighter-linear">
        <details>
          <summary>
        <h4>Deriving Brighter Values</h4>
        <p class="p">
          Color swatch can show a brigher value based on linear transformation
        </p>
        </summary>
        <g-test-case-subject class="db">
          <g-color-swatch id="swatch-derived-brighter-linear"
                          derived-from="swatch-derived-from-brighter-linear"
                          brighten-by="50%"
                          show-warnings
                          derivation-algorithm="brightness">
            <label>
              <input type="color" disabled>
              <code></code>
            </label>
          </g-color-swatch>
          <g-color-swatch id="swatch-derived-from-brighter-linear" show-warnings  hex-code="#123456">
            <label>
              <input type="color">
              <code></code>
            </label>
          </g-color-swatch>
        </g-test-case-subject>
        <g-element-source element-sibling="g-test-case-subject" html="inner">
          <pre><code></code></pre>
        </g-element-source>
        </details>
      </g-test-case>
      <g-test-case id="derived-darker-linear">
        <details>
          <summary>
        <h4>Deriving Darker Values</h4>
        <p class="p">
          Color swatch can show a darker value based on linear transformation
        </p>
        </summary>
        <g-test-case-subject class="db">
          <g-color-swatch id="swatch-derived-darker-linear"
                          derived-from="swatch-derived-from-darker-linear"
                          darken-by="50%"
                          show-warnings
                          derivation-algorithm="brightness">
            <label>
              <input type="color" disabled>
              <code></code>
            </label>
          </g-color-swatch>
          <g-color-swatch id="swatch-derived-from-darker-linear" show-warnings  hex-code="#123456">
            <label>
              <input type="color">
              <code></code>
            </label>
          </g-color-swatch>
        </g-test-case-subject>
        <g-element-source element-sibling="g-test-case-subject" html="inner">
          <pre><code></code></pre>
        </g-element-source>
        </details>
      </g-test-case>
      <g-test-case id="derived-complement">
        <details>
          <summary>
        <h4>Deriving Complement</h4>
        <p class="p">
          Color swatch can show the complement of another color
        </p>
        </summary>
        <g-test-case-subject class="db">
          <g-color-swatch derived-from="derived-from-complement"
                          id="derived-complement"
                          show-warnings
                          derivation-algorithm="complement">
            <label>
              <input type="color" disabled>
              <code></code>
              <div data-link-context></div>
            </label>
          </g-color-swatch>
          <g-color-swatch id="derived-from-complement" show-warnings  hex-code="#123456">
            <label>
              <input type="color">
              <code></code>
            </label>
          </g-color-swatch>
        </g-test-case-subject>
        <g-element-source element-sibling="g-test-case-subject" html="inner">
          <pre><code></code></pre>
        </g-element-source>
        </details>
      </g-test-case>
      <g-test-case id="derived-split-complement">
        <details>
          <summary>
        <h4>Deriving Split Complements</h4>
        <p class="p">
          Color swatch can show one of the split complements of another color
        </p>
        </summary>
        <g-test-case-subject class="db">
          <g-color-swatch derived-from="derived-from-split-complement"
                          id="derived-split-complement-lower"
                          show-warnings
                          derivation-algorithm="split-complement-lower">
            <label>
              <input type="color" disabled>
              <code></code>
              <div data-link-context></div>
            </label>
          </g-color-swatch>
          <g-color-swatch id="derived-from-split-complement" show-warnings  hex-code="#123456">
            <label>
              <input type="color">
              <code></code>
            </label>
          </g-color-swatch>
          <g-color-swatch derived-from="derived-from-split-complement"
                          id="derived-split-complement-upper"
                          show-warnings
                          derivation-algorithm="split-complement-upper">
            <label>
              <input type="color" disabled>
              <code></code>
              <div data-link-context></div>
            </label>
          </g-color-swatch>
        </g-test-case-subject>
        <g-element-source element-sibling="g-test-case-subject" html="inner">
          <pre><code></code></pre>
        </g-element-source>
        </details>
      </g-test-case>
      <g-test-case id="derived-analogous">
        <details>
          <summary>
        <h4>Deriving Analogous</h4>
        <p class="p">
          Color swatch can show one of the analogous colors of another color
        </p>
        </summary>
        <g-test-case-subject class="db">
          <g-color-swatch derived-from="derived-from-analogous"
                          id="derived-analogous-lower"
                          show-warnings
                          derivation-algorithm="analogous-lower">
            <label>
              <input type="color" disabled>
              <code></code>
              <div data-link-context></div>
            </label>
          </g-color-swatch>
          <g-color-swatch id="derived-from-analogous" show-warnings hex-code="#123456">
            <label>
              <input type="color">
              <code></code>
            </label>
          </g-color-swatch>
          <g-color-swatch derived-from="derived-from-analogous"
                          id="derived-analogous-upper"
                          show-warnings
                          derivation-algorithm="analogous-upper">
            <label>
              <input type="color" disabled>
              <code></code>
              <div data-link-context></div>
            </label>
          </g-color-swatch>
        </g-test-case-subject>
        <g-element-source element-sibling="g-test-case-subject" html="inner">
          <pre><code></code></pre>
        </g-element-source>
        </details>
      </g-test-case>
      <g-test-case id="derived-triad">
        <details>
          <summary>
        <h4>Deriving Triad</h4>
        <p class="p">
          Color swatch can show one of the triad colors of another color
        </p>
        </summary>
        <g-test-case-subject class="db">
          <g-color-swatch derived-from="derived-from-triad"
                          id="derived-triad-lower"
                          show-warnings
                          derivation-algorithm="triad-lower">
            <label>
              <input type="color" disabled>
              <code></code>
              <div data-link-context></div>
            </label>
          </g-color-swatch>
          <g-color-swatch id="derived-from-triad" show-warnings hex-code="#123456">
            <label>
              <input type="color">
              <code></code>
            </label>
          </g-color-swatch>
          <g-color-swatch derived-from="derived-from-triad"
                          id="derived-triad-upper"
                          show-warnings
                          derivation-algorithm="triad-upper">
            <label>
              <input type="color" disabled>
              <code></code>
              <div data-link-context></div>
            </label>
          </g-color-swatch>
        </g-test-case-subject>
        <g-element-source element-sibling="g-test-case-subject" html="inner">
          <pre><code></code></pre>
        </g-element-source>
        </details>
      </g-test-case>
      <g-test-case id="derived-disconnected">
        <details>
          <summary>
        <h4>Disconnected Derived Elements</h4>
        <p class="p">
          When we set attributes to remove a derivation, the underlying events should not still be connected
        </p>
        </summary>
        <g-test-case-subject class="db">
          <g-color-swatch derived-from="derived-to-be-disconnected"
                          id="derived-disconnect-lower"
                          show-warnings
                          derivation-algorithm="triad-lower">
            <label>
              <input type="color" disabled>
              <code></code>
              <div data-link-context></div>
            </label>
          </g-color-swatch>
          <g-color-swatch id="derived-to-be-disconnected" show-warnings hex-code="#123456">
            <label>
              <input type="color">
              <code></code>
            </label>
          </g-color-swatch>
          <g-color-swatch derived-from="derived-to-be-disconnected"
                          id="derived-disconnect-upper"
                          show-warnings
                          derivation-algorithm="triad-upper">
            <label>
              <input type="color" disabled>
              <code></code>
              <div data-link-context></div>
            </label>
          </g-color-swatch>
        </g-test-case-subject>
        <g-element-source element-sibling="g-test-case-subject" html="inner">
          <pre><code></code></pre>
        </g-element-source>
        </details>
      </g-test-case>
    </main>
  </body>
</html>

