<%- include("../templates/head.html", { description: "Demo of the color name component", title: "Ghola - Color Name Component" }) %>
<style id="basic-example-css">
g-color-name label:has(input[data-user-override]):after {
  font-size: var(--mg-fs-1);
  font-style: italic;
  color: var(--mg-gray-dark);
  content: "Overridden";
}
</style>
</head>
  <body class="ff-sans bg-white black-ish">
    <%- include("../templates/header.html", { subtitle: "Demo of color name", components: true }) %>
    <main class="pa-3">
      <a class="blue-dark" href="color-name.test.html">Run tests</a>
      <p class="p">
        The <code>g-color-name</code> allows managing the name of a color.  By default, it will use a value from a broad list, based on the hue.  The intent is to use categorizations like "Red" or "Purple" and not ultra-specific values like "Snowy Mist".  The user can edit the value and, in this case, the user's value will remain and changes to the swatch will not affect the input.
      </p>
      <h4>Basic functionality</h4>
      <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="BabZrKj" data-user="davetron5000" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/davetron5000/pen/BabZrKj">
  Color Name</a> by Dave Copeland (<a href="https://codepen.io/davetron5000">@davetron5000</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
    </main>
  </body>
</html>

