<%- include("../templates/head.html", { description: "Components List", title: "Ghola - Components" }) %>
</head>
  <body class="ff-sans bg-white black-ish">
    <%- include("../templates/header.html", { subtitle: "Components" }) %>
    <main class="pa-3">
      <p class="p">
        The pages here demo the components in isolation and can run the components' tests.
      </p>
      <table class="collapse">
        <thead>
          <tr>
            <th class="tl pa-1 bb br">Component</th>
            <th class="tl pa-1 bb br">Purpose</th>
            <th class="tl pa-1 bb br">Demo</th>
            <th class="tl pa-1 bb">Test</th>
          </tr>
        </thead>
        <tbody>
          <%- include("../templates/component-tr.html",
                      {
                        name: "color-swatch",
                        description: "Renders a color swatch, possibly with its value derived from another, or possibly editable",
                      }
                     )
          %>
          <%- include("../templates/component-tr.html",
                      {
                        name: "color-name",
                        description: "Shows a system-provided name for a color, but allows the user to override it.",
                      }
                     )
          %>
          <%- include("../templates/component-tr.html",
                      {
                        name: "palette-color-scale",
                        description: "Wraps <code>g-color-palette</code> elements and a <code>g-color-name</code> element to show different versions of a base color to be used in a larger palette."
                      }
                     )
          %>
          <%- include("../templates/component-tr.html",
                      {
                        name: "add-color-scale-button",
                        description: "Wraps one or more buttons that, when clicked, will add a new <code>g-palette-color-scale</code> to the given palette."
                      }
                     )
          %>
        </tbody>
      </table>
    </main>
  </body>
</html>

