<%- include("../templates/head.html", { description: "Demo of the palette color component", title: "Ghola - Palette Color Component" }) %>
</head>
  <body class="ff-sans bg-white black-ish">
    <%- include("../templates/header.html", { subtitle: "Demo of palette color", components: true }) %>
    <main class="pa-3">
      <a class="blue-dark" href="palette-color-scale.test.html">Run tests</a>
      <p class="p">
        The <code>g-palette-color</code> component represents one color with many shades in your palette. For example the chosen purple and then darker and lighter shades.  If it contains a <code>g-color-name</code>, it can expose the name and if the user has overridden the name.  If it contains one or more <code>g-color-swatch</code> elements, it can return an ordered list of the hexcodes.
      </p>
      <p class="p">
        When you combine this with the <code>g-color-name</code>, <code>g-color-swatch</code> elements with derivations, you can create a color palette.
      </p>

      <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="MWxoMev" data-user="davetron5000" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/davetron5000/pen/MWxoMev">
  Multiple Derived Swatches w/ Styling</a> by Dave Copeland (<a href="https://codepen.io/davetron5000">@davetron5000</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
    </main>
  </body>
</html>

