<%- include("../templates/head.html", { description: "Demo of the palette color component", title: "Ghola - Palette Color Component" }) %>
</head>
  <body class="ff-sans bg-white black-ish">
    <%- include("../templates/header.html", { subtitle: "Demo of palette color", components: true }) %>
    <main class="pa-3">
      <a class="blue-dark" href="palette-color.test.html">Run tests</a>
      <p class="p">
        The <code>g-palette-color</code> component represents one color with many shades in your palette. For example the chosen purple and then darker and lighter shades.  If it contains a <code>g-color-name</code>, it can expose the name and if the user has overridden the name.  If it contains one or more <code>g-color-swatch</code> elements, it can return an ordered list of the hexcodes.
      </p>
      <p class="p">
        When you combine this with the <code>g-color-name</code>, <code>g-color-swatch</code> elements with derivations, you can createa color palette.
      </p>
      <h4>Attributes</h4>
      <p class="p">
        The <code>g-palette-color</code> recognizes three attributes:
      </p>
      <table class="collapse">
        <thead>
          <tr>
            <th class="tl pa-1 bb br">Attribute</th>
            <th class="tl pa-1 bb br">Values</th>
            <th class="tl pa-1 bb">Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pa-1 br bb"><code class="bg-black-ish green-light dib pa-1 ff-mono">primary</code></td>
            <td class="pa-1 br bb">Set or omitted</td>
            <td class="pa-1 bb"><p class="p">
                If set, this color is considered the primary one in the palette and cannot be removed or unlinked.
            </p></td>
          </tr>
          <tr>
            <td class="pa-1 br bb"><code class="bg-black-ish green-light dib pa-1 ff-mono">linked-to</code></td>
            <td class="pa-1 br bb">The <code class="ff-mono">id</code> of another <code>g-palette-color</code>.
            <td class="pa-1 bb"><p class="p">
                If set, this can be unlinked.
            </p></td>
          </tr>
          <tr>
            <td class="pa-1 br bb"><code class="bg-black-ish green-light dib pa-1 ff-mono">linked-to-primary</code></td>
            <td class="pa-1 br bb">Set or omitted</td>
            <td class="pa-1 bb"><p class="p">
                If set, the component will find a <code>g-palette-color</code> with <code>primary</code> set in the children if this component's parent.
            </p></td>
          </tr>
        </tbody>
      </table>
      <h4>Events</h4>
      <p class="p">
        The <code>g-palette-color</code> also recognizes three buttons that can trigger special events:
      </p>
      <table class="collapse">
        <thead>
          <tr>
            <th class="tl pa-1 bb br">Action</th>
            <th class="tl pa-1 bb br">Event Name</th>
            <th class="tl pa-1 bb br">Markup Needed</th>
            <th class="tl pa-1 bb">Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="tl pa-1 br bb">Preview</th>
            <td class="pa-1 br bb"><code class="bg-black-ish green-light dib pa-1 ff-mono">preview</code></td>
            <td class="pa-1 br bb">One or more elements with <code class="ff-mono">data-preview</code></td>
            <td class="pa-1 bb"><p class="p">
                No special behavior other than connecting the tagged elements with the higher-level event.
            </p></td>
          </tr>
          <tr>
            <th class="tl pa-1 bb br">Unlink</th>
            <td class="pa-1 br bb"><code class="bg-black-ish green-light dib pa-1 ff-mono">unlink</code></td>
            <td class="pa-1 br bb">One or more elements with <code class="ff-mono">data-unlink</code></td>
            <td class="pa-1 bb"><p class="p">
                Elements will trigger the higher-level event, but also the <code>linked-to</code> attribute is removed.
                You can stop this via <code>preventDefault</code>
            </p></td>
          </tr>
          <tr>
            <th class="tl pa-1 bb br">Remove</th>
            <td class="pa-1 bb br"><code class="bg-black-ish green-light dib pa-1 ff-mono">remove</code></td>
            <td class="pa-1 bb br">One or more elements with <code class="ff-mono">data-remove</code></td>
            <td class="pa-1 bb"><p class="p">
                Elements will trigger the higher-level event, but this also removes the entire <code>g-palette-color</code> from the DOM.  You can stop this via <code>preventDefault</code>
            </p></td>
          </tr>
        </tbody>
      </table>
      <h4>API</h4>
      <p class="p">
        The <code>g-palette-color</code> can provide programmatic access to what it's wrapping.
      </p>
      <table class="collapse">
        <thead>
          <tr>
            <th class="tl pa-1 bb br">Method</th>
            <th class="tl pa-1 bb br">Return Value</th>
            <th class="tl pa-1 bb">Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pa-1 br bb"><code class="bg-black-ish green-light dib pa-1 ff-mono">.colorName</code></td>
            <td class="pa-1 br bb">Name of the color, as a String</td>
            <td class="pa-1 bb"><p class="p">
                If set, this color is considered the primary one in the palette and cannot be removed or unlinked.
            </p></td>
          </tr>
          <tr>
            <td class="pa-1 br bb"><code class="bg-black-ish green-light dib pa-1 ff-mono">.colorNameUserOverride</code></td>
            <td class="pa-1 br bb"><code>true</code> or <code>false</code></td>
            <td class="pa-1 bb"><p class="p">
              <code>true</code> if the user has overridden the color, <code>false</code> if the default system-provided value is being used.
            </p></td>
          </tr>
          <tr>
            <td class="pa-1 br bb"><code class="bg-black-ish green-light dib pa-1 ff-mono">.colorScale</code></td>
            <td class="pa-1 br bb">Array of hex codes as strings</td>
            <td class="pa-1 bb"><p class="p">
                Values are provided in the order of the <code>g-color-swatch</code> elements. Empty if there aren't any.
            </p></td>
          </tr>
        </tbody>
      </table>
      <h4>Example</h4>
      <p class="p">
        This shows a primary, linked, and unlinked color with a darker and brighter version of each base color.  You can also access the internals programmatically.
      </p>
      <div class="flex flex-column gap-4 pa-2 ba bc-gray">
        <g-palette-color class="flex gap-3" primary id="primary-palette-color">
          <div class="flex flex-column justify-between">
            <g-color-name color-swatch="primary-base-color">
              <label class="flex flex-column gap-1 mb-3">
                <input type="text" class="f-3 ba br-2 bg-white-ish black bc-gray pa-2 ff-sans">
              </label>

            </g-color-name>
            <nav class="flex flex-column gap-1">
              <button data-preview class="shadow-button f-2 br-1">
                Preview
              </button>
              <button data-remove class="shadow-button br-1">
                Remove
              </button>
              <button data-unlink class="shadow-button f-1 br-1">
                Unlink from Primary
              </button>
              <button id="show-internals">
                Show Internal API data
              </button>
              <script>
                document.getElementById("show-internals").addEventListener("click", (event) => {
                  const paletteColor = document.getElementById("primary-palette-color")
                  alert(JSON.stringify({
                    name: paletteColor.colorName,
                    userOverride: !!paletteColor.colorNameUserOverride,
                    scale: paletteColor.colorScale,
                  }))
                })
              </script>
            </nav>
          </div>
          <div class="flex justify-center gap-1">
            <g-color-swatch debug derived-from="primary-base-color" derivation-algorithm="brightness" darken-by="50%">
              <%- include("../templates/g-color-swatch.html", { id: "primary-base-color" } ) %>
            </g-color-swatch>
            <g-color-swatch debug id="primary-base-color" hex-code="#6429bd">
              <%- include("../templates/g-color-swatch.html", { id: "primary-base-color", editable: true, secondaryLabel: "Primary" } ) %>
            </g-color-swatch>
            <g-color-swatch debug derived-from="primary-base-color" derivation-algorithm="brightness" brighten-by="<%= (5/7) * 100 %>%">
              <%- include("../templates/g-color-swatch.html", { id: "primary-base-color" } ) %>
            </g-color-swatch>
          </div>
        </g-palette-color>
        <g-palette-color class="flex gap-3" linked-to="primary-palette-color">
          <div class="flex flex-column justify-between">
            <g-color-name color-swatch="complement">
              <label class="flex flex-column gap-1 mb-3">
                <input type="text" class="f-3 ba br-2 bg-white-ish black bc-gray pa-2 ff-sans">
              </label>

            </g-color-name>
            <nav class="flex flex-column gap-1">
              <button data-preview class="shadow-button f-2 br-1">
                Preview
              </button>
              <button data-remove class="shadow-button br-1">
                Remove
              </button>
              <button data-unlink class="shadow-button f-1 br-1">
                Unlink from Primary
              </button>
            </nav>
          </div>
          <div class="flex justify-center gap-1">
            <g-color-swatch debug derived-from="complement" derivation-algorithm="brightness" darken-by="50%">
              <%- include("../templates/g-color-swatch.html") %>
            </g-color-swatch>
            <g-color-swatch debug id="complement" derived-from="primary-base-color" derivation-algorithm="complement">
              <%- include("../templates/g-color-swatch.html", { id: "complement", secondaryLabel: "Complement" } ) %>
            </g-color-swatch>
            <g-color-swatch debug derived-from="complement" derivation-algorithm="brightness" brighten-by="<%= (5/7) * 100 %>%">
              <%- include("../templates/g-color-swatch.html" ) %>
            </g-color-swatch>
          </div>
        </g-palette-color>
        <g-palette-color class="flex gap-3">
          <div class="flex flex-column justify-between">
            <g-color-name color-swatch="unlinked">
              <label class="flex flex-column gap-1 mb-3">
                <input type="text" class="f-3 ba br-2 bg-white-ish black bc-gray pa-2 ff-sans">
              </label>

            </g-color-name>
            <nav class="flex flex-column gap-1">
              <button data-preview class="shadow-button f-2 br-1">
                Preview
              </button>
              <button data-remove class="shadow-button br-1">
                Remove
              </button>
              <button data-unlink class="shadow-button f-1 br-1">
                Unlink from Primary
              </button>
            </nav>
          </div>
          <div class="flex justify-center gap-1">
            <g-color-swatch debug derived-from="unlinked" derivation-algorithm="brightness" darken-by="50%">
              <%- include("../templates/g-color-swatch.html") %>
            </g-color-swatch>
            <g-color-swatch debug id="unlinked" hex-code="#443311">
              <%- include("../templates/g-color-swatch.html", { id: "unlinked", editable: true } ) %>
            </g-color-swatch>
            <g-color-swatch debug derived-from="unlinked" derivation-algorithm="brightness" brighten-by="<%= (5/7) * 100 %>%">
              <%- include("../templates/g-color-swatch.html" ) %>
            </g-color-swatch>
          </div>
        </g-palette-color>
      </div>
      <h4>Edge Cases</h4>
      <p class="p">
        <code>debug</code> can be set to cause console logs to generate when an edge case or obvious mis-use occurs.
      </p>
      <ul>
        <li class="mb-3 flex items-start gap-2">
          <p class="ma-0 lh-copy w-25">
            <code>linked-to</code> is set, but there is no element with that id.
          </p>
          <g-element-source element-id="missing-linked-to-example" html="inner">
            <pre><code></code></pre>
          </g-element-source>
          <div class="ba bc-gray pa-1 flex flex-column items-center gap-2">
            <div id="missing-linked-to-example" class="flex items-center gap-3 mb-3">
              <g-palette-color linked-to="non-existent" id="linked-to-non-existent" debug>
              </g-palette-color>
            </div>
          </div>
        </li>
        <li class="mb-3 flex items-start gap-2">
          <p class="ma-0 lh-copy w-25">
            <code>linked-to-primary</code> is set, but there is no primary with that id.
          </p>
          <g-element-source element-id="missing-primary-linked-to-example" html="inner">
            <pre><code></code></pre>
          </g-element-source>
          <div class="ba bc-gray pa-1 flex flex-column items-center gap-2">
            <div id="missing-primary-linked-to-example" class="flex items-center gap-3 mb-3">
              <g-palette-color linked-to-primary id="linked-to-non-existent-primary" debug>
              </g-palette-color>
              <g-palette-color>
              </g-palette-color>
            </div>
          </div>
        </li>
        <li class="mb-3 flex items-start gap-2">
          <p class="ma-0 lh-copy w-25">
            <code>linked-to-primary</code> and <code>linked-to</code> are set, which results in undefined behavior.
          </p>
          <g-element-source element-id="both-primary-linked-to-example" html="inner">
            <pre><code></code></pre>
          </g-element-source>
          <div class="ba bc-gray pa-1 flex flex-column items-center gap-2">
            <div id="both-primary-linked-to-example" class="flex items-center gap-3 mb-3">
              <g-palette-color linked-to-primary linked-to="some-other" id="both-to-non-existent-primary" debug>
              </g-palette-color>
              <g-palette-color primary>
              </g-palette-color>
              <g-palette-color id="some-other">
              </g-palette-color>
            </div>
          </div>
        </li>
      </ul>
    </main>
  </body>
</html>

