<%
let renderInput   = (typeof(editable)      === "boolean" && editable)
let inputDisabled = (typeof(disabledInput) === "boolean" && disabledInput)

if (inputDisabled) {
  renderInput = true
}

%>
<div class="flex flex-column gap-2 items-center">
  <% if (!renderInput) { %>
    <div data-color></div>
  <% } else { %>
    <input type="color" id="<%= id %>-input" <%= inputDisabled ? 'disabled' : '' %>>
  <% } %>
  <% if (!renderInput) { %>
    <div data-hexcode>
      <code xclass="fw-3 f-1 ff-mono"></code>
    </div>
  <% } else { %>
    <label for="<%= id %>-input">
      <code xclass="fw-3 f-1 ff-mono"></code>
    </label>
  <div class="nowrap f-2 fw-3 ttl" data-secondary>
    <%- typeof(secondaryLabel) === "string" ? secondaryLabel : "&nbsp;" %>
  </div>
  <% } %>
</div>
