    <header class="bg-black-ish gray-800 pb-3">
      <div class="flex flex-wrap items-center justify-between">
        <div>
        <h1 class="mt-0 mb-2 mh-3 pt-3 f-6 ttu tracked flex flex-wrap items-center gap-3">
          <a href="/" class="tdn hover-tdu gray-800">
          Ghola
          </a>
          <span class="h-3 w-3 bg-red-500"></span>
          <span class="h-3 w-3 bg-orange-500"></span>
          <span class="h-3 w-3 bg-yellow-500"></span>
          <span class="h-3 w-3 bg-green-500"></span>
          <span class="h-3 w-3 bg-blue-500"></span>
          <span class="h-3 w-3 bg-purple-500"></span>
          <span class="h-3 w-3 bg-gray-500"></span>
        </h1>
        <h2 class="ma-0 mh-3 f-5">Scale Generator for Developers</h2>
        <% if (typeof(subtitle) === "string") { %>
          <h3 class="ma-0 mt-2 ph-3 pb-3 f-4 fw-4"><%= subtitle %></h3>
        <% } %>
        </div>
        <nav class="ma-3 flex flex-wrap items-baseline gap-2">
          <a href="/" class="blue-700 f-3">Palette</a>
          <span role="none">&middot;</span>
          <a href="/shadow.html" class="blue-700 f-3">Box Shadows</a>
          <span role="none">&middot;</span>
          <a href="/soon.html" class="blue-400 f-3">Text Glow</a>
          <span role="none">&middot;</span>
          <a href="https://github.com/davetron5000/ghola" class="blue-700 f-2">Source</a>
          <span role="none">&middot;</span>
          <a href="/about.html" class="blue-700 f-2">About</a>
        </nav>
      </div>
      <% if ( (typeof(components) === "boolean") && components) { %>
      <div class="bg-white bb bc-gray-300 black flex f-2">
        <nav class="bg-gray-800 flex items-baseline pa-3 gap-3 w-100">
          <a class="f-3 blue-300" href="/components/index.html">&larr; Components Home</a>
        </nav>
      </div>
      <% } %>
    </header>
