    <header class="bg-black-ish gray-lightest">
      <h1 class="ma-0 mh-3 pt-3 f-6 ttu tracked flex items-center gap-3">
        Ghola
        <span class="h-3 w-3 bg-red"></span>
        <span class="h-3 w-3 bg-orange"></span>
        <span class="h-3 w-3 bg-yellow"></span>
        <span class="h-3 w-3 bg-green"></span>
        <span class="h-3 w-3 bg-blue"></span>
        <span class="h-3 w-3 bg-purple"></span>
        <span class="h-3 w-3 bg-gray"></span>
      </h1>
      <h2 class="ma-0 mh-3 pb-3 f-5">Palette Generator for Developers</h2>
      <% if (typeof(subtitle) === "string") { %>
        <h3 class="ma-0 ph-3 pb-3 f-4 ttu tracked fw-4"><%= subtitle %></h3>
      <% } %>
      <% if ( (typeof(main) === "boolean") && main) { %>
      <div class="bg-white bb bc-gray-dark black flex f-2">
        <nav class="bg-gray-lightest flex items-baseline pa-3 gap-3 w-100">
          <h3 class="fw-7 ma-0">Download this palette:</h3>
          <a id="download-css"             href="#" class="fw-3 blue-dark">CSS Variables</a>
          <a id="download-melange"         href="#" class="fw-3 blue-dark">MelangeCSS Variables</a>
          <a id="download-melange-config"  href="#" class="fw-3 blue-dark">MelangeCSS Configuration</a>
          <a id="download-tailwind"        href="#" class="fw-3 blue-dark">Tailwind</a>
          <a id="download-csv"             href="#" class="fw-3 blue-dark">Good 'Ole CSV</a>
        </nav>
      </div>
      <% } else if ( (typeof(components) === "boolean") && components) { %>
      <div class="bg-white bb bc-gray-dark black flex f-2">
        <nav class="bg-gray-lightest flex items-baseline pa-3 gap-3 w-100">
          <a class="f-3 blue-dark" href="/components/index.html">&larr; Components Home</a>
        </nav>
      </div>
      <% } %>
    </header>
