@import "melange-css/melange-no_dark_mode-no_breakpoints.css";
@import "./shadow-button.css";
@import "./g-element-source.css";
@import "./palette.css";

:root {
  --mg-ff-sans: 'Helvetica Neue', Inter, Roboto, 'Nimbus Sans', sans-serif;
  --mg-ff-serif: 'Baskerville', Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --mg-ff-mono: Courier, monospace;
}

@media screen and (max-width: 80em) {
  /** On smaller than ideal, bump all font sizes down one */
  :root {
    --mg-fs-1: 0.765rem;
    --mg-fs-2: 0.875rem;
    --mg-fs-3: 1rem;
    --mg-fs-4: 1.25rem;
    --mg-fs-5: 1.5rem;
    --mg-fs-6: 2.25rem;
    --mg-fs-7: 3rem;
    --mg-fs-8: 4.25rem;
    --mg-fs-9: 5rem;
  }
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch,
input[type="color"]::-moz-color-swatch {
  border: none;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
input[type=color] {
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin: 0;
  padding: 0;
}

code {
  font-family: var(--mg-ff-mono);
}

input:disabled.pointer {
  cursor: not-allowed;
}

.mb-half {
  margin-bottom: calc(var(--mg-sp-1) / 2);
}
.inner-shadow-1 {
  box-shadow: inset 0 0 10px var(--mg-gray-light);
}

g-test-case summary h4 {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--mg-sp-1);
}
g-test-case details {
  margin-bottom: var(--mg-sp-3);
}
g-test-case summary p {
  margin-left: var(--mg-sp-4);
  margin-top: 0;
  max-width: var(--mg-tw);
  line-height: var(--mg-lh-copy);
}


::backdrop {
  background-color: black;
  opacity: 0.2;
}

.shadow-button-shadow {
  transform: translateX(-1px) translateY(-1px);
  box-shadow: 1px 1px 2px 1px rgba( 80, 80, 80, 0.5 );
}

.shadow-dark-4 {
  box-shadow: 2px 2px 16px 8px rgba( 0, 0, 0, 0.5 );
}
