@import "melange-css/melange-no_dark_mode-no_breakpoints.css";
@import "./shadow-button.css";
@import "./g-element-source.css";
@import "./palette.css";
@import "./g-test-case.css";
@import "./preview.css";

:root {
  --mg-ff-sans: "Helvetica Neue", Inter, Roboto, "Nimbus Sans", sans-serif;
  --mg-ff-serif: "Baskerville", Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --mg-ff-mono: Courier, monospace;
}

@media screen and (max-width: 80em) {
  /** On smaller than ideal, bump all font sizes down one */
  :root {
    --mg-fs-1: 0.765rem;
    --mg-fs-2: 0.875rem;
    --mg-fs-3: 1rem;
    --mg-fs-4: 1.25rem;
    --mg-fs-5: 1.5rem;
    --mg-fs-6: 2.25rem;
    --mg-fs-7: 3rem;
    --mg-fs-8: 4.25rem;
    --mg-fs-9: 5rem;
  }
}

/* tame the color input */
input[type="color"] {
  -webkit-appearance: none;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch,
input[type="color"]::-moz-color-swatch {
  border: none;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
input[type=color] {
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin: 0;
  padding: 0;
}

/* Make sure <code> uses the theme's monospace font */
code {
  font-family: var(--mg-ff-mono);
}

/* Since some inputs will not be obviously inputs, 
 * make sure disabled ones are clearly disabled
 */
input:disabled.pointer {
  cursor: not-allowed;
}

.mb-half {
  margin-bottom: calc(var(--mg-sp-1) / 2);
}

.inner-shadow-1 {
  box-shadow: inset 0 0 10px var(--mg-gray-light);
}


